.LandsTable{
    width: 60%;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    text-align: center;
    background: grey;
}
.LandsTable img{
    width: auto;
    height: 300px;
    margin: 30px auto;
}